<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213696605314-s575002csb6qa724gdl6pa9kqj39noc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213696605314-s575002csb6qa724gdl6pa9kqj39noc2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213696605314-isoakmv176bt21mkv5kr601fruem6f0s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx9osLyppyu8hyCfJhrWJtSvRI4UpxDdA</string>
	<key>GCM_SENDER_ID</key>
	<string>213696605314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clevertube.learnenglish</string>
	<key>PROJECT_ID</key>
	<string>bili-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bili-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213696605314:ios:b5eacc592573043d84989b</string>
</dict>
</plist>